@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/*
body {
  display: none;    arrumar para o desktop
} 
*/

@media (max-width: 614px) {
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .top {
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  /*rever*/
    color: #FFFFFF;

    display: flex;    /*outro e fixar top*/
    flex-direction: column;
    justify-content: center;    

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    height: 92px;
    padding-left: 21px;
  }
  
  .top h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
  }

  .top h2 {
    font-size: 18px;
  }

  .main-content {
    margin: 92px 0 92px 0;
    padding: 31px 0 16px 19px; 

    background-color: #EEEEEE;
  }

  .order-options h3 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
  }

  .line-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    margin: 10px 0 27px 0;

    height: 230px;

    overflow-x: scroll;
  }

  .line-options div {
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 9px;

    padding: 10px 14px 10px 14px;

    display: flex;        /*pode ser q de p mudar*/
    flex-direction: column;
    justify-content: space-evenly;

    width: 172px;
    height: 202px;
  }

  .line-options .select {
    box-shadow: inset 0px 0px 0 5px rgba(50, 183, 47, 1);
  }

  .line-options h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }

  .line-options p {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
  }

  .line-options span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .line-options span p {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
  }

  .line-options span ion-icon {
    width: 19px;
    height: 19px;

    color: #32B72F;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;

    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    height: 92px;
  }

  footer button {
    background-color: #CBCBCB;
    border-radius: 50px;
    border: none;

    width: 364px;
    height: 61px;

    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0.29px;
    padding: 1% 15%;  /*rever quando diminui a tela*/
  }

  .buttonColor {
    background-color: #32B72F;
  }
  
  /*
  .new-body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(238, 238, 238, 1);
  }

  .order-confirmation {
    width: 377px;
    height: 353px;

    background-color: #50D074;
    border-radius: 9px;
  }

  .order-content {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    
    align-items: center;

  }

  .order-content div {
    background-color: #CBCBCB;

    height: 160px;
  }

  .order-content span {
    background-color: #923434;

  }

  /*
  .hidden {
    display: none;
  }
*/

}

